{% extends 'RecipeFinderCoreBundle::base.html.twig' %}

{% block content %}
	<h3>Find your recipe</h3> <br />

	{% if recipe.name|default("") %}
		<div class="alert alert-success">
			{{ recipe.name }}
		</div>
	{% endif %}

	{% if orderTakeout|default("") %}
		<div class="alert alert-info">
			{{ orderTakeout }}
		</div>
	{% endif %}

	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}	
		<div class="row">
			<div class="col-md-2">
				{{ form_label(form.recipes)}}
			</div>
			<div class="col-md-4">
				{{ form_widget(form.recipes, { 'attr': {'cols': '60', 'rows': '10'}})}}
				{{ form_errors(form.recipes) }}				
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-2">
				{{ form_label(form.fridgeItems)}}
			</div>
			<div class="col-md-4">
				{{ form_widget(form.fridgeItems, { 'attr': {'cols': '60', 'rows': '5'}})}}
				{{ form_errors(form.fridgeItems) }}				
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-4">
				{{ form_widget(form.send, { 'attr': {'class': 'btn btn-sm btn-primary'}}) }}
			</div>
		</div>		
	{{ form_end(form) }}		
{% endblock %}